{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

        <main class="main-margin-top columnar animated fadeIn faster">

              <ul class="oeuvre-list">

                {{- range .Data.Pages }}

                    <li class="oeuvre-item">

                      <div class="oeuvre-cover-title-year">

                        {{ if .Params.cover }}
                        <div class="oeuvre-cover">
                          <a href="{{ .Params.link }}" target="_blank">
                            <img src="{{ .Params.cover }}"
                                 alt="{{ .Params.Title }}"/>

                          </a>
                        </div>
                        {{ end }}

                        <div class="oeuvre-title-year">

                        {{ if .Params.title }}
                          <h3 class="oeuvre-title">

                            {{- if .Params.link }}
                            <a href="{{ .Params.link }}" target="_blank">
                              {{ .Params.title }}
                            </a>
                            {{ else }}
                              {{ .Params.title }}
                            {{ end -}}

                          </h3>
                        {{ end }}

                        {{ with .Params.year }}
                          <p class="oeuvre-year">
                            {{ . }}
                          </p>
                        {{ end }}

                        <!-- class="oeuvre-title-year -->
                        </div>
                      <!-- class="oeuvre-cover-title-year" -->
                      </div>

                      {{ if .Params.featuredAudio }}
                      <div class="oeuvre-audio">
                        {{ partial "audio.html" (dict "src" .Params.featuredAudio "caption" .Params.featuredAudioCaption ) }}
                      </div>
                      {{ end }}

                      <div class="oeuvre-description">
                        {{ .Content }}
                      </div>

                    </li>

                {{- end }}

                </ul>

                <div class="content">
                    {{ .Content | safeHTML }}
                </div>

        </main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
