////////////////////////////////////////
// fuschiaparty

$theme: $fuschia;

$background: $fuschia-dark;
$background-secondary: $fuschia-dark-shade;

$text: $fuschia-light;
$text-emphasis: $fuschia-light-light;
$text-secondary: $cream;
