////////////////////////////////////////
// greenteen

$theme: $green;

$background: $bluegreen;
$background-secondary: $bluegreen-shade;

$text: $green-light;
$text-emphasis: $green-light-light;
$text-secondary: $cream;
