////////////////////////////////////////
// rolotony browntown
$orange: #c65108;
$brown: #180904;
$gold: #c09030;
$gold-light: #e0a040;
$cream: #d6c59f;
$coffee: #6e4522;

////////////////////////////////////////
// greenteen
$green: #4a0;
$green-light: #9a9;
$green-light-light: #9c9;
$bluegreen: #002029;
$bluegreen-shade: #002631;

////////////////////////////////////////
// assignments
$theme: $orange;

$background: $brown;
$background-secondary: $coffee;

$text: $gold;
$text-emphasis: $gold-light;
$text-secondary: $cream;

////////////////////////////////////////
// $theme: $green;

// $background: $bluegreen;
// $background-secondary: $bluegreen-shade;

// $text: $green-light;
// $text-emphasis: $green-light-light;
// $text-secondary: $cream;
