////////////////////////////////////////
// rolotony browntown
$orange: #c65108;
$brown: #180904;
$gold: #c09030;
$gold-light: #e0a040;
$cream: #d6c59f;
$coffee: #6e4522;
$coffee-dark: #472d16;

////////////////////////////////////////
// redeye
$redeye-red: #d43;
$redeye-dark-red: #281515;
$redeye-darker-red: #211010;
$redeye-yellow: #e09930;

////////////////////////////////////////
// greenteen
$green: #6a0;
$green-light: #9a9;
$green-light-light: #9c9;
$bluegreen: #002029;
$bluegreen-shade: #002631;

////////////////////////////////////////
// fuschiaparty
$fuschia: #f07;
$fuschia-light: #daa;
$fuschia-light-light: #fad;
$fuschia-dark: #1b0008;
$fuschia-dark-shade: #301;

////////////////////////////////////////
// yellowjacket
$yellowgreen: #ff0;
$black: #131010;
$grey-dark: #333;
$grey: #bbb;
$grey-light: #ddd;
