////////////////////////////////////////
// rolotony browntown
$orange: #c65108;
$brown: #180904;
$gold: #c09030;
$gold-light: #e0a040;
$cream: #d6c59f;
$coffee: #6e4522;

////////////////////////////////////////
// assignments
$theme: $orange;

$background: $brown;
$background-secondary: $coffee;

$text: $gold;
$text-emphasis: $gold-light;
$text-secondary: $cream;
