// To understand these variations, see:
// https://www.digitalocean.com/community/tutorials/how-to-load-and-use-custom-fonts-with-css

// Courier Prime provided if not locally installed, which is unlikely.
// "swap" means it effectively doesn't block loading and can always swap back in.
// "fallback" would be the same but with a short swap period.
// https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display
@font-face {
  font-display: swap;
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: normal;
  src:
      local('Courier Prime'),
      url('/fonts/CourierPrime-Regular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
// italic
@font-face {
  font-display: swap;
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: normal;
  src:
      local('Courier Prime Italic'),
      url('/fonts/CourierPrime-Italic.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
// bold
@font-face {
  font-display: swap;
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: bold;
  src:
      local('Courier Prime Bold'),
      url('/fonts/CourierPrime-Bold.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// NOTE: I'm still relatively certain that preferring a downloaded font is the
// best approach, otherwise browsers and OSes will fallback in unpredictable ways.
$fonts: "Courier Prime", "Courier New", "Noto Sans Mono", Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Liberation Mono", Monaco, monospace;

// just reuse the same for now:
$code-fonts: $fonts;

$content-initial-size: 0.9rem;
$menu-button-initial-size: 1.1rem;
$menu-item-initial-size: 1.5rem;
$menu-initial-spacing: 1rem;

$menu-button-360-size: 1.2rem;
$menu-item-360-size: 1.7rem;

$content-410-size: 0.95rem;
$menu-button-410-size: 1.4rem;
$menu-item-410-size: 1.8rem;

$content-800-size: 1rem;
$menu-button-1280-size: 1.5rem;
$menu-item-1280-size: 1.8rem;
