$fonts: Courier, "Nimbus Mono PS", Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, monospace;

// just reuse the same for now:
$code-fonts: $fonts;

$menu-initial-size: 1.1em;
$menu-initial-spacing: 1em;
