// Colors
//
$theme: #c65108;
$text: #c09030;
$bth-warmer-black: #242424;
$dark-grey: #4c3f34;
$highlight-grey: #7d828a;
$midnightblue: #2c3e50;

// Fonts
//
$fonts: "Courier New", Courier, monospace;
$code-fonts: "Lucida Sans Typewriter", "Courier New", Courier, monospace;

// Mixins
//
@mixin dimmed {
  opacity: .6;
}

@mixin animated-a-tag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
      color: $bth-warmer-black;
    }
  }
}
