// Colors
//
$theme: #c65108;
$background: #180904;
$text: #c09030;
$text-light: #e0a040;
$text-dim: #c07010;
$cream: #d6c59f;
$coffee: #6e4522;
$offwhite: #edd;
$menu-background: $coffee;

$highlight-grey: #7d828a;
$midnightblue: #2c3e50;

// Fonts
//
$fonts: Courier, "Nimbus Mono PS", Consolas, "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, monospace;
// just reuse the same for now:
$code-fonts: $fonts;

$menu-initial-size: 1.1em;
$menu-initial-spacing: 1em;

// Mixins
//
@keyframes color-theme-glow {
        0% {
                color: $text;
        }
        100% {
                color: $theme;
        }
}

@mixin theme-glow {
  animation-name: color-theme-glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@mixin dimmed {
  opacity: .6;
}

@mixin animated-a-tag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
      color: $background;
    }
  }
}
