// Colors
//
$theme: #c65108;
$text: #c09030;
$background: #180904;
$menu-background: #111;
$highlight-grey: #7d828a;
$offwhite: #ddd;
$midnightblue: #2c3e50;

// Fonts
//
$fonts: "Courier New", Courier, monospace;
$code-fonts: "Lucida Sans Typewriter", "Courier New", Courier, monospace;

@keyframes color-glow {
	0% {
		color: $text;
	}
	100% {
		color: $theme;
	}
}

// Mixins
//
@mixin glow {
  animation-name: color-glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@mixin dimmed {
  opacity: .6;
}

@mixin animated-a-tag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
      color: $background;
    }
  }
}
