////////////////////////////////////////
// fundamentals
////////////////////////////////////////

html {
  background: $background;
  font-size: 20px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
  color: $text;
  font-family: $fonts;
  font-variant-ligatures: none;
}

////////////////////////////////////////
// default tags everywhere
////////////////////////////////////////

h1 {
    font-size: 2em;
}

h2 {
    @include dimmed;
}

a {
  color: $text;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-out;
  // https://stackoverflow.com/a/36551118/8813860
  // HACK: to stop the flickering when CSS loads
  filter: grayscale(1%);
  backface-visibility: hidden;

  &:hover {
    color: $theme;
  }
}

hr {
  opacity: .2;
  border-width: 0 0 2px 0;
  border-style: solid;
  background: transparent;
  width: 50%;
  margin: 1.8em auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: 1.5%;
    border-bottom: 1px solid;
  }

  th {
    font-weight: 700;
    background-color: $background-secondary;
    vertical-align: bottom;
  }
}

blockquote {
  border-left: .25em $theme solid;
  margin: 1em 0em;
  padding-left: 1em;

  cite {
    font-weight: bold;
    font-style: normal;

    &::before {
      content: "—— ";
    }
  }
}

pre,
code,
pre tt {
  font-family: $code-fonts;
}

pre {
  padding: .7em 1.1em;
  overflow: auto;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  color: $text-secondary;
  background: $background-secondary;
  border-radius: 4px;
  // -webkit-overflow-scrolling: touch;

  code {
    padding: 0;
    margin: 0;
  }
}

code {
  color: $text-secondary;
  background: $background-secondary;
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 4px;
  word-wrap: break-word;
  letter-spacing: normal;
}

////////////////////////////////////////
// main content classes
////////////////////////////////////////

.site-main {
  margin-top: 5em;
}

// TODO: what's the conceptual difference?
.section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 93%;
}

// TODO: i don't like this. it's thrown in as a class to control width, but I'd
// rather it was a mixin maybe.
.thin {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
}

// TODO: remove or simplify
.desktop-only, .desktop-only-ib {
  display: none;
}

////////////////////////////////////////
// header & footer
////////////////////////////////////////

#site-header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px $background;
  background-color: $background-secondary;
  animation-duration: .3s;
}

.header-wrapper {
  font-size: $menu-button-initial-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;

  .site-branding {
    display: inline-block;
    margin-right: 0.1em;
  }

  .site-branding a {
    color: $text-emphasis;

    text-decoration: none;
    border: none;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-out;

    &:hover {
        color: $theme;
    }
  }

  .site-nav {
    display: flex;
    align-items: center;

    a {
      margin-left: $menu-initial-spacing;
    }

    .header-btn {
        margin-left: $menu-initial-spacing;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        height: 24px;

        &:hover {
            color: $theme;
        }

        a {
            margin: 0;
        }
    }
  }
}

#works-menu, #info-menu {
  display: none;
  font-size: $menu-item-initial-size;
  position: fixed;
  top: 4.8em;
  right: 1.5em;
  padding: .6em 1.8em;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0em 0em 1em 1em $background;
  background-color: $background;
  border: 2px solid $text;
  border-radius: 4px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;

    li {
        text-align: right;
    }
    li + li {
        margin-top: 0.2em;
        padding-top: 0.2em;
        border-top: 1px dashed $text;
    }
  }
}

#site-footer {
  text-align: center;
  font-size: .9em;
  margin-bottom: 96px;
  margin-top: 64px;

  p {
    @include dimmed;
    margin: 0;
  }
}

#footer-logo-wrapper {
    margin-top: 1em;
}

img#footer-logo {
    width: 15%;
}

////////////////////////////////////////
// spotlight : center aligned content
////////////////////////////////////////

// TODO: remove depedence on this, merge with home-center
#spotlight {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.2rem;

  &.error-404 {
    flex-direction: row;
    line-height: normal;
  }
}

////////////////////////////////////////
// home page
////////////////////////////////////////

#home-center {
  background: $background;
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

#home-title {
  margin: 0;
  text-align: center;
  @include theme-glow;
}

#home-subtitle {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: normal;
  font-size: .7em;
  // font-style: italic;
  color: $theme;
  opacity: .9;
}

#home-nav {
  opacity: .8;

  a {
    display: block;
    text-align: center;
    margin-top: .5em;
  }
}

#home-footer {
  text-align: center;
  font-size: .6em;
  line-height: normal;
  @include dimmed;

  p {
    margin-top: 0;
  }
}

////////////////////////////////////////
// 404
////////////////////////////////////////

p.img-404 {
  margin: 0;

  svg {
    width: 180px;
    max-width: 100%;
    height: auto;
  }
}

.banner-404 {
  margin-left: 2em;

  h1 {
    font-size: 3em;
    margin: .5rem 0;
  }

  p {
    margin-top: 0;
  }

  .btn-404 {
    font-size: .8em;

    a {
      display: inline-block;
      border: 2px solid $text;
      border-radius: 5px;
      padding: 5px;
      transition-property: color, border-color;

      &:first-child {
        margin-right: 1em;
      }

      &:hover {
        border-color: #fff;
      }

      svg {
        margin-right: .5em;
      }
    }
  }
}

////////////////////////////////////////
// list.html
////////////////////////////////////////

.list-heading {
    @include dimmed;
    font-weight: normal;
}

ul.posts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-item {
    padding: 1em 0em;

    .post-thumbail-and-titles {
        display: flex;
        flex-direction: row;

        img.post-thumbnail {
            width: 4em;
            align-self: center;
            padding: 0em;
            margin: 0em 1em 0em 0em;
        }

        .post-titles {
            display: flex;
            flex-direction: column;
            // this affects its alignment relative to the parent
            // which is "row"
            align-self: center;

            .post-title {
                font-weight: bold;
            }
            .post-subtitle {
                font-size: 0.9em;
                @include dimmed;
            }
        }
    }
}

.featured-post-item {

    .featured-post-image-and-titles {
        display: flex;
        flex-direction: column;

        .featured-image {
            width: 70%;
            align-self: center;
        }

        .featured-post-titles {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 1em;

            .featured-post-title {
                font-weight: bold;
                font-size: 1.4em;
            }
            .featured-post-subtitle {
                font-size: 1em;
                @include dimmed;
            }
        }
    }
}

////////////////////////////////////////
// single.html
////////////////////////////////////////

.post-header {
  margin-top: 1.2em;
  line-height: normal;

  h1 {
    margin-top: .1em;
  }

  h2 {
      margin-top: -.5em;
      font-weight: normal;
  }

  img.post-image {
      margin-top: 1em;
      width: 100%;
  }
}

.content {
  // TODO: font-size is way too scattered. should be abstracted out and made clearer.
  // small size for mobile screens, turned up with media queries
  font-size: 0.95em;
  line-height: 2.2em;

  @include animated-a-tag;

  em {
      font-style: italic;
      color: $text-emphasis;
  }

  figure {
    max-width: 100%;
    height: auto;
    margin: 0;
    text-align: center;

    p {
      font-size: .8em;
      font-style: italic;
      @include dimmed;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 4px;

  }

  img.narrow {
      max-width: 400px;
  }

  ul,
  ol {
    padding: 0;
    margin-left: 1.8em;
  }
}

.footnotes {
  font-size: .85em;

  a {
    box-shadow: none;
    text-decoration: underline;
    transition-property: color;

    &:hover {
      background: transparent;
    }

    &.footnote-backref {
      text-decoration: none;
    }
  }

  ol {
    line-height: 1.8;
  }
}

a.footnote-ref {
  box-shadow: none;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
  background-color: $background-secondary;

  &:hover{
    box-shadow: none;
    background-color: $theme;
    transition-property: background-color;
  }
}

footer.post-info {
    margin-top: 4rem;
    font-size: .8rem;
    @include dimmed;
    line-height: normal;
    // single line on left:
    padding-left: 1rem;
    border-left: 1px solid $text;

    // included in footer
    .signature {
        a {
            color: $theme;
            text-decoration: none;
            border: none;
            @include theme-glow;

            &:hover {
                color: $text-emphasis;
                text-shadow: 0 0 2px $text-emphasis;
            }
        }
    }

    p {
        margin: .8em 0;
    }

    a:hover {
        border-bottom: 1px solid $theme;
    }

    svg {
        margin-right: .8em;
    }

    .tag {
        margin-right: .2em;

        &::before {
            content: "#"
        }
    }
}

.related-posts {
  margin-top: 5em;
  font-size: 1rem;

  h2 {
    margin: 0;
    line-height: normal;
  }

  ul {
    margin-top: .5em;
    margin-bottom: 0;
  }
}

////////////////////////////////////////
// subscribe-form.html
////////////////////////////////////////

form.subscription-form {

    input {
        background-color: $background;
        width: 50%;
        padding: 0.5em 0.5em;
        margin: 1em 0;
        border: 2px solid $text;
        border-radius: 4px;
    }

    input:focus {
        outline: none;
        border-color: $theme;
    }

    button {
        color: $background;
        background-color: $theme;
        padding: 0.5em 0.5em;
        border: 2px solid $theme;
        border-radius: 4px;
        cursor: pointer;
    }
}

////////////////////////////////////////
// music/ and books/
////////////////////////////////////////

ul.oeuvre-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li.oeuvre-item {
        margin-bottom: 4em;

        // cover and title boxes are flex row.
        // audio and description are stacked.
        .oeuvre-cover-title-year {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .oeuvre-cover {
                margin: 0em 1em 1em 0em;
                padding: 0em;

                img {
                    max-width: 300px;
                    align-self: center;
                }
            }

            .oeuvre-title-year {
                margin: 0em 1em 0em 0em;

                .oeuvre-title {
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                    @include animated-a-tag;
                }

                .oeuvre-year {
                    @include dimmed;
                }

            }

        }
        .oeuvre-audio {
            margin: 0;
            padding: 0;

            figure.audio {
                margin: 0;
                width: 80%;
            }
        }
        .oeuvre-description {
            margin: 0em 1em 0em 0em;
            @include animated-a-tag;
        }
    }
}

////////////////////////////////////////
// support
////////////////////////////////////////

div.action_button {
    background: $theme;
    max-width: 15em;
    margin: 2em 0em;
    padding: 0.1rem 1rem;
    border-radius: 0.5rem;
}

div.action_button p {
    text-align: center;
    color: $background;
}

div.stripe {
    max-width: 15em;
    margin: -2em 0;
}

////////////////////////////////////////
// markdown rendering hooks
////////////////////////////////////////

/* https://discourse.gohugo.io/t/adding-anchor-next-to-headers/1726/24 */
.heading-anchor {
    // TODO: what's this color?
    color: #999;
    text-decoration: none;
    display: none;
    box-shadow: none;
    transition-property: none;
}

// NOTE: the .heading-wrapper:hover is necessary to get the thing to appear
// reasonably over the whole div.
.heading-wrapper:hover a.heading-anchor{
    display: inline;
    color: $theme;
    box-shadow: none;
}

////////////////////////////////////////
// svg
////////////////////////////////////////

// meaning https://feathericons.com
.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

////////////////////////////////////////
// audio
////////////////////////////////////////

figure.audio {
    margin: 3em 0;

    audio {
        width: 100%;
        border-radius: 5px;
        background-color: $theme;
    }

// Most of the styling you cannot control. But you can reach into the webkit
// default css for Chromium browsers at least.
// https://gist.github.com/Realetive/43c970b72a70badbd2a3
// https://chromium.googlesource.com/chromium/blink/+/72fef91ac1ef679207f51def8133b336a6f6588f/Source/core/css/mediaControls.css

    audio::-webkit-media-controls-panel {
        background-color: $background-secondary;
        border-radius: 0px;
    }

    audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
        color: $text;
        text-shadow: none;
        font-weight: bold;
    }

    audio::-webkit-media-controls-play-button {
        background-color: $theme;
        border-radius: 10px;
    }

    figcaption {
        @include dimmed;
        font-size: 0.9em;
    }
}

////////////////////////////////////////
// code copy buttons
////////////////////////////////////////

.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 75px;
}

.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    opacity: 0.6;
    min-width: 55px;
    text-align: center;
}

.highlight-copy-btn:hover {
    background-color: #666;
}

////////////////////////////////////////
// accessibility
////////////////////////////////////////

.screen-reader-text {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        width: 1px;
        word-wrap: normal !important;
}

.screen-reader-text:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
}


////////////////////////////////////////
// scrollbar
////////////////////////////////////////

// chrome
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: $background-secondary;
}

::-webkit-scrollbar-thumb {
  background: $background;

  &:hover {
    background: $theme;
  }
}

// firefox
html {
    scrollbar-color: $background $background-secondary;
}

////////////////////////////////////////
// media queries
////////////////////////////////////////

// min-width queries

@media (min-width: 360px) {

    .header-wrapper {
        font-size: $menu-button-360-size;
    }
    #works-menu, #info-menu {
        font-size: $menu-item-360-size;
    }
}

@media (min-width: 410px) {

    .content {
        font-size: 1em;
    }
    .header-wrapper {
        font-size: $menu-button-410-size;
    }
    #works-menu, #info-menu {
        font-size: $menu-item-410-size;
    }
}

// NOTE: this is where the main.js query used to invoke autoHideHeader()
@media (min-width: 800px) {

  .content {
      font-size: 1.1em;
  }

  .site-main {
    margin-top: 6em;
  }

  #spotlight {
      font-size: 1.5rem;
  }

  hr.post-end {
    width: 40%;
  }
}

@media (min-width: 960px) {

  .site-main {
    margin-top: 8em;
  }

}

@media (min-width: 1280px) {
  .site-main {
    margin-top: 10em;
  }

  .header-wrapper {
      font-size: $menu-button-1280-size;
  }

  #works-menu, #info-menu {
      font-size: $menu-item-1280-size;
  }

  .desktop-only {
    display: block;
  }

  .desktop-only-ib {
    display: inline-block;
  }

  figure.left {
    margin-left: -240px;
    p {
      text-align: left;
    }
  }

  figure.right {
    margin-right: -240px;
    p {
      text-align: right;
    }
  }

  figure.big {
    width: 1200px;
    margin-left: -240px;
  }

  hr.post-end {
    width: 30%;
  }
}

@media (min-width: 1800px) {
  .site-main {
    margin-top: 12em;
  }

  .section-inner {
    max-width: 1600px;
  }

  .thin {
    max-width: 960px;
  }

  figure.left {
    max-width: 75%;
    margin-left: -320px;
  }

  figure.right {
    max-width: 75%;
    margin-right: -320px;
  }

  figure.big {
    width: 1600px;
    margin-left: -320px;
  }

  hr.post-end {
    width: 30%;
  }
}

// max-width queries

@media (max-width: 760px) {

  #spotlight.error-404 {
    flex-direction: column;
    text-align: center;

    .banner-404 {
      margin: 0;
    }
  }
}

@media (max-width: 520px) {

  .content figure.left,
  .content figure.right {
    float: unset;
    max-width: 100%;
    margin: 0;
  }

  hr.post-end {
    width: 60%;
  }
}
