@use "colors.scss";

// redeye
$theme: colors.$redeye-red !default;
$background: colors.$redeye-light-yellow !default;
$background-secondary: colors.$redeye-yellow !default;
$text: colors.$black !default;
$text-emphasis: colors.$black !default;
$text-secondary: colors.$redeye-dark-red !default;
