@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$blue,
    $background: colors.$grey-light,
    $background-secondary: colors.$grey,
    $text: colors.$black,
    $text-emphasis: colors.$blackblue,
    $text-secondary: colors.$blackblue,
);

@use "style.scss";
