@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$green,
    $background: colors.$bluegreen,
    $background-secondary: colors.$bluegreen-shade,
    $text: colors.$green-light,
    $text-emphasis: colors.$green-light-light,
    $text-secondary: colors.$cream,
);

@use "theme_light.scss" with (
    $theme: colors.$blue,
    $background: colors.$grey-light,
    $background-secondary: colors.$grey,
    $text: colors.$black,
    $text-emphasis: colors.$black,
    $text-secondary: colors.$blackblue,
);
