// theme
@import "colors.scss";

$theme: $orange;
$background: $brown;
$background-secondary: $coffee;
$text: $gold;
$text-emphasis: $gold-light;
$text-secondary: $cream;

// shared settings
@import "fonts.scss";
@import "mixins.scss";

// thirdparty
@import "normalize.scss";
@import "animate.scss";

// main styles
@import "style.scss"
