@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$orange,
    $background: colors.$coffee-dark,
    $background-secondary: colors.$brown,
    $text: colors.$cream,
    $text-emphasis: colors.$gold,
    $text-secondary: colors.$cream,
);

@use "style.scss"
