@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$green,
    $background: colors.$bluegreen,
    $background-secondary: colors.$bluegreen-shade,
    $text: colors.$green-light,
    $text-emphasis: colors.$green-light-light,
    $text-secondary: colors.$cream,
);

@use "style.scss"
