@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$fuschia,
    $background: colors.$fuschia-dark,
    $background-secondary: colors.$fuschia-dark-shade,
    $text: colors.$cream,
    $text-emphasis: colors.$fuschia-light,
    $text-secondary: colors.$fuschia-light-light,
);

@use "style.scss";
