// theme
@import "colors.scss";

$theme: $blue;
$background: $grey-light;
$background-secondary: $grey;
$text: $black;
$text-emphasis: $blackblue;
$text-secondary: $blackblue;

// shared settings
@import "fonts.scss";
@import "mixins.scss";

// thirdparty
@import "normalize.scss";
@import "animate.scss";

// main styles
@import "style.scss"
