// theme
@import "colors.scss";

$theme: $green;
$background: $bluegreen;
$background-secondary: $bluegreen-shade;
$text: $green-light;
$text-emphasis: $green-light-light;
$text-secondary: $cream;

// shared settings
@import "fonts.scss";
@import "mixins.scss";

// thirdparty
@import "normalize.scss";
@import "animate.scss";

// main styles
@import "style.scss"
