// theme
@import "colors.scss";

$theme: $fuschia;
$background: $fuschia-dark;
$background-secondary: $fuschia-dark-shade;
$text: $cream;
$text-emphasis: $fuschia-light;
$text-secondary: $fuschia-light-light;

// shared settings
@import "fonts.scss";
@import "mixins.scss";

// thirdparty
@import "normalize.scss";
@import "animate.scss";

// main styles
@import "style.scss"
