@use "colors.scss";

@use "theme.scss" with (
    $theme: colors.$yellowgreen,
    $background: colors.$black,
    $background-secondary: colors.$grey-dark,
    $text: colors.$grey,
    $text-emphasis: colors.$grey-light,
    $text-secondary: colors.$grey-light,
);

@use "style.scss"
