{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

	<main class="site-main section-inner thin animated fadeIn faster">

              <ul class="album-list">

                {{- range .Data.Pages }}

                    <li class="album-item">

		      <div class="album-cover">
                        <a href="https://distrokid.com/hyperfollow/bartholomy/{{ .Params.hyperfollowSlug }}" target="_blank">
                          <img class="album" src="{{ .Params.cover }}" />
                        </a>
		      </div>

		      <div class="album-title-year">

                        <h3 class="album-title">
                          <a href="https://distrokid.com/hyperfollow/bartholomy/{{ .Params.hyperfollowSlug }}" target="_blank">
                          {{ .Params.title }}
                          </a>
                        </h3>

		        <p class="album-year">
                          {{ .Params.year }}
		        </p>

		      </div>

		      <div class="album-description">
                        {{ .Content }}
		      </div>

                    </li>

		{{- end }}

		</ul>

		<div class="content">
		    {{ .Content | safeHTML }}
		</div>

	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
