<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{- if .Description }}
        <meta name="description" content="{{ .Description | plainify }}">
        {{- else if .Summary }}
        <meta name="description" content="{{ .Summary | plainify }}">
        {{- else }}
        <meta name="description" content="{{ .Site.Params.Description | plainify }}">
        {{- end }}
        {{- with .Site.Params.themeColor }}
        <meta name="theme-color" content="{{.}}">
        <meta name="msapplication-TileColor" content="{{.}}">
        {{- end }}
        {{- partial "structured-data.html" . }}
        {{- partial "favicons.html" . }}
        <title>{{ or .Title .Params.quiet_title}}</title>
        {{ range .AlternativeOutputFormats -}}
                {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
        {{ end -}}

        {{- $style := "" -}}
        {{- $theme := "" -}}
        {{- if (isset .Params "theme") }}
          {{ $theme = printf "scss/theme_%s.scss" $.Params.theme }}
        {{- else if (eq .Page.Kind "section")  }}
          {{ $theme = "scss/theme_fuschsiaparty.scss" }}
        {{- else if (eq .Page.Kind "home")  }}
          {{ $theme = "scss/theme_redeye.scss" }}
        {{ else -}}
          {{ $theme = "scss/theme_redeye.scss" }}
        {{ end -}}
        {{ $style = resources.Get $theme | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
        <link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">

        {{- block "head" . -}}{{- end }}
</head>

<body id="page">
        {{ block "header" . -}}{{ end -}}
        {{ block "main" . -}}{{ end -}}
        {{ block "footer" . -}}{{ end }}

        {{ $main := resources.Get "js/main.js" -}}
        {{ $script := $main | minify | fingerprint -}}
        <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>

        {{- partial "analytics.html" . }}
</body>

</html>
