<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{- if .Description }}
        <meta name="description" content="{{ .Description | plainify }}">
        {{- else if .Summary }}
        <meta name="description" content="{{ .Summary | plainify }}">
        {{- else }}
        <meta name="description" content="{{ .Site.Params.Description | plainify }}">
        {{- end }}
        {{- with .Site.Params.themeColor }}
        <meta name="theme-color" content="{{.}}">
        <meta name="msapplication-TileColor" content="{{.}}">
        {{- end }}
        {{- partial "structured-data.html" . }}
        {{- partial "favicons.html" . }}
        <title>{{ or .Title .Params.quiet_title}}</title>
        {{ range .AlternativeOutputFormats -}}
                {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
        {{ end -}}

        {{ $light_theme := "scss/theme_blueboy.scss" }}
        {{ $compiled_light_css := resources.Get $light_theme | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
        {{ $light_integrity := $compiled_light_css.Data.Integrity | safeHTMLAttr }}

        {{- $theme := "" -}}
        {{- if (isset .Params "theme") }}
          {{ $theme = printf "scss/theme_%s.scss" $.Params.theme }}
        {{- else if (eq .Page.Kind "section")  }}
          {{ $theme = "scss/theme_fuschsiaparty.scss" }}
        {{- else if (eq .Page.Kind "home")  }}
          {{ $theme = "scss/theme_redeye.scss" }}
        {{ else -}}
          {{ $theme = "scss/theme_redeye.scss" }}
        {{ end -}}
        {{ $compiled_css := resources.Get $theme | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
        {{ $set_integrity := $compiled_css.Data.Integrity | safeHTMLAttr }}
        <link id="theme-link"
              rel="stylesheet"
              data-set-theme="{{ $theme }}"
              data-current-theme="{{ $theme }}"
              data-light-theme="{{ $light_theme }}"
              data-set-theme-path="{{ $compiled_css.Permalink }}"
              data-light-theme-path="{{ $compiled_light_css.Permalink }}"
              href="{{ $compiled_css.Permalink }}"
              integrity="{{- $set_integrity -}}"
              data-set-integrity="{{- $set_integrity -}}"
              data-light-integrity="{{- $light_integrity -}}"
              crossorigin="anonymous"
              >

        {{- block "head" . -}}{{- end }}
</head>

<body id="page">
        {{ block "header" . -}}{{ end -}}
        {{ block "main" . -}}{{ end -}}
        {{ block "footer" . -}}{{ end }}

        {{ $main := resources.Get "js/main.js" -}}
        {{ $script := $main | minify | fingerprint -}}
        <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>

        {{- partial "analytics.html" . }}
</body>

</html>
