{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">

          <!-- featuredPost on posts/ only -->
          {{- if (eq .Page.Type "posts") -}}
            {{- with .Site.GetPage .Site.Params.featuredPost }}

              {{ partial "featured-post.html" . }}

              <hr/>

            {{- end -}}
          {{- end -}}

	  <h2 class="list-heading">
            <!-- hash in front of tag listings: -->

            <!-- below condition will change name of rest of posts/ to "archive" -->
            <!-- can't put this comment there because HTML will render a space between the hash -->
            <!-- NOTE: server will still fail to build later if featuredPost is not set, in post-list.html -->
            {{- if (eq .Page.Kind "term") -}}
                  #
            {{- end -}}

            {{- if (and .Site.Params.featuredPost (eq .Page.Type "posts")) -}}
            archive
            {{- else -}}
            {{- .Title | lower -}}
            {{- end -}}

          </h2>

	  {{- if .Content }}
	  <div class="content">
	    {{ .Content }}
	  </div>
	  {{- end }}

          <!-- checkFeatured for posts/ only -->
          {{- if (eq .Page.Type "posts") -}}
          {{ partial "post-list.html" (dict "range" .Data.Pages "context" . "checkFeatured" true ) }}
          {{- else }}
          {{ partial "post-list.html" (dict "range" .Data.Pages "context" . "checkFeatured" false ) }}
          {{- end -}}

	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
