{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>
                  <!-- hash in front of tag listings: -->
                  {{- if (eq .Page.Kind "term") -}}
                  #
                  {{- end -}}
                  {{- .Title -}}
                </h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}

                {{ partial "post-list.html" (dict "range" .Data.Pages "context" . ) }}

	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
