{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner animated fadeIn faster">
		<article class="thin">
		  <header class="post-header">

		    <h1>{{ .Title }}</h1>
		    <h2 class="subtitle">{{ .Params.subTitle }}</h2>

		  </header>

		  <div class="content">

                    <!-- markdown header anchor hack -->
		    {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true">

                      <!-- FIXME: cant' use the svg.html partial with this because it's a literal regex replacement -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>

</a>${3}` | safeHTML }}

		  </div>

                  <div class="signature">
		  <p><a href="/about/">{{ .Site.Author.name }}</a></p>
	          </div>

			<hr class="post-end">

			<footer class="post-info">

				<p>{{ dateFormat .Site.Params.dateformNum .Date }}</p>

                          <!-- place param -->
				{{- with $.Param "place" }}
                          <!-- FIXME: get a better svg for this -->
				<p>
                                  {{ partial "svg.html" (dict "type" "place") }}{{ . }}
                                </p>
				{{- end }}

                          <!-- series tags -->
				{{- with .Params.series }}
				<p>
                                  {{ partial "svg.html" (dict "type" "tag") }}
					{{- range . -}}
					<span class="tag"><a href="{{ "series/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>
					{{- end }}
				</p>
				{{- end }}

			</footer>

                  <!-- FIXME: this needs a proper wrapper and better spacing -->
                  {{- if .Site.Params.relatedPosts }}
                  {{- partial "related-posts.html" . -}}
                  {{- end }}

		</article>

		{{- if .Params.toc }}
		<aside id="toc">
			<div class="toc-title">{{ i18n "tableOfContents" }}</div>
			{{ .TableOfContents }}
		</aside>
		{{- end }}

	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
