                  <div class="featured-post-item">

                    <a href="{{ .Permalink}}">

                      <!-- flex-direction: column -->
                      <div class="featured-post-image-and-titles">

                        {{- with .Params.images -}}
                        {{- range first 1 . -}}
                        <img class="featured-image" src="{{ . | relURL}}"
                        alt="{{ $.Params.Summary | default $.Params.Title }}"/>
                        {{- end }}
                        {{- end }}

                        <!-- flex-direction: column -->
                        <!-- titles stacked -->
                        <div class="featured-post-titles">
                          <span class="featured-post-title">{{.Title}}</span>

                          {{- with .Params.Summary }}
                          <span class="featured-post-subtitle">{{ . | html }}</span>
                          {{- end }}

                        </div>
                      </div>

                    </a>
                  </div>

