<header id="site-header" class="animated">
  <div class="header-wrapper section-inner">
    <div class="site-branding">
      <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a>
    </div>

    <!-- nav buttons -->
    <nav class="site-nav ">

      <button id="subscribe-btn" class="header-btn" >
        <a href="/subscribe" >
          {{- partial "svg.html" (dict "type" "plane") -}}
        </a>
      </button>

      <button id="works-btn" class="header-btn" >
        {{- partial "svg.html" (dict "type" "oeuvre") -}}
      </button>

      <button id="info-btn" class="header-btn" >
        {{- partial "svg.html" (dict "type" "contact") -}}
      </button>

    </nav>

  </div>
</header>

<div id="works-menu" class="animated faster">
  <ul>
    {{- range .Site.Menus.works }}
    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{- end }}

  </ul>
</div>

<div id="info-menu" class="animated faster">
  <ul>
    {{- range .Site.Menus.info }}
    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{- end }}
  </ul>
</div>

