<header id="site-header" class="animated">
  <div class="header-wrapper">

    <div class="site-branding">
      <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a>
    </div>

    <!-- nav buttons -->
    <nav class="site-nav ">


      <button id="theme-toggle-btn" class="header-btn" >
          {{- partial "svg.html" (dict "type" "theme") -}}
      </button>

      <button id="subscribe-btn" class="header-btn" >
        <a href="/subscribe" >
          {{- partial "svg.html" (dict "type" "plane") -}}
        </a>
      </button>

      <label for="menu-toggle" class="header-btn">
        {{- partial "svg.html" (dict "type" "hamburger") -}}
      </label>
      <input type="checkbox" id="menu-toggle"/>

      <!-- NOTE: must be immediate sibling -->
      <div id="menu" class="animated faster fadeIn">
        <ul>
          {{- range .Site.Menus.main }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{- end }}
        </ul>
      </div>

    </nav>

  </div>
</header>
