                  <div class="post-item">

                    <a href="{{ .Permalink}}">

                      <!-- flex-direction: row -->
                      <!-- thumbnail and titles packed left -->
                      <div class="post-thumbail-and-titles">

                        {{- with .Params.thumbnail }}
                          <img class="post-thumbnail" src="{{ . | relURL}}"
                          alt="{{ $.Params.Summary | default $.Params.Title }}"/>
                        {{- else -}}
                          {{- with .Params.tags }}
                          <div class="post-tag">
                            <p class="post-tag-p">
                              {{ partial "tags-thumbnail.html" (dict "tags" .) -}}
                            </p>
                          </div>
                          {{- end }}
                        {{- end }}

                        <!-- flex-direction: column -->
                        <!-- titles stacked -->
                        <div class="post-titles">
                          <span class="post-title">
                          {{- if (eq .Page.Kind "term") -}}
                          #
                            {{- .Title | lower -}}
                          {{- else -}}
                            {{- .Title -}}
                          {{- end -}}
                          </span>

                          {{- with .Params.Summary }}
                          <span class="post-subtitle">{{ . | html }}</span>
                          {{- end }}

                        </div>
                      </div>

                    </a>
                  </div>
