
		<ul class="posts-list">

                  {{ $checkFeatured := .checkFeatured }}
                  <!-- we pass the iterable in a dict as "range" -->
		  {{- range .range }}

                  <!-- check for identity of featuredPost and this page -->
                  {{ $inputpage := . }}
                  {{- with .Site.GetPage .Site.Params.featuredPost }}

                    {{ if (and (eq $inputpage . ) $checkFeatured) }}
                    <!-- do nothing -->
                    {{- else }}

                    <li>

                      {{ partial "post-item.html" $inputpage }}

                    </li>

                    {{- end }}
                  {{- end }}

		{{- end }}

		</ul>
