                  <div class="post-item">

                    <a href="{{ .Permalink}}">

                      <!-- flex-direction: row -->
                      <!-- thumbnail and titles packed left -->
                      <div class="post-thumbail-and-titles">

                        {{- with .Params.thumbnail }}
                        <img class="post-thumbnail" src="{{ . | relURL}}"
                        alt="{{ $.Params.Summary | default $.Params.Title }}"/>
                        {{- end }}

                        <!-- flex-direction: column -->
                        <!-- titles stacked -->
                        <div class="post-titles">
                          <span class="post-title">
                          {{- if (eq .Page.Kind "term") -}}
                          #
                          {{- end -}}
                          {{- .Title -}}
                          </span>

                          {{- with .Params.Summary }}
                          <span class="post-subtitle">{{ . | html }}</span>
                          {{- end }}

                        </div>
                      </div>

                    </a>
                  </div>

