
              <ul class="posts-list">

                {{ $checkFeatured := .checkFeatured }}
                <!-- we pass the iterable in a dict as "range" -->
                {{- range .range }}

                  {{ $inputpage := . }}

                  <!-- check for identity of featuredPost and this page -->
                  <!-- FIXME: this will fail when featuredPost is not set! -->
                  <!-- however, this is preferable for now, rather than let it fail silently -->
                  {{- $featuredPage := .Site.GetPage .Site.Params.featuredPost }}

                  {{ if (and $checkFeatured $featuredPage (eq $inputpage $featuredPage ) ) }}
                    <!-- do nothing -->
                  {{- else }}

                    <li>

                      {{ partial "post-item.html" $inputpage }}

                    </li>

                  {{- end }}

		{{- end }}

		</ul>
