<div class="{{- .class -}}">
<p id="{{- .class -}}">

  <!-- provides a fallback thumbnail for /posts/

  priority:
  1. glyph param in frontmatter
  2. first tag if matches the hardcoded list below
  3. first letter of the title
    -- -->

{{- $title_letter := lower (substr $.context.Title 0 1) -}}

{{- if .context.Params.glyph -}}

    {{- .context.Params.glyph -}}

{{- else if .context.Params.tags -}}

    {{- range first 1 .context.Params.tags }}

        {{- if (eq . "psychoanalysis") -}}
        ϕ
        {{- else if (eq . "exclusion") -}}
        非
        {{- else if (eq . "apesick") -}}
        非
        {{- else if (eq . "sot") -}}
        ䷣
        {{- else if (eq . "medicine") -}}
        ☤
        {{- else if (eq . "healing") -}}
        ☤
        {{- else if (eq . "words") -}}
        文
        {{- else if (eq . "morality") -}}
        皿
        {{- else -}}
        {{- $title_letter -}}
        {{- end -}}

    {{- end -}}

{{- else -}}
{{- $title_letter -}}
{{- end -}}
</p>
</div>
