<div class="{{- .class -}}">
<p id="{{- .class -}}">

{{- $title_letter := lower (substr $.context.Title 0 1) -}}

{{- if .context.Params.glyph -}}

    {{- .context.Params.glyph -}}

{{- else if .context.Params.tags -}}

    {{- range first 1 .context.Params.tags }}

        {{- if (eq . "psychoanalysis") -}}
        ϕ
        {{- else if (eq . "exclusion") -}}
        北
        {{- else if (eq . "superorganic") -}}
        ䷣
        {{- else if (eq . "medicine") -}}
        ☤
        {{- else if (eq . "word") -}}
        文
        {{- else if (eq . "morality") -}}
        皿
        {{- else -}}
        {{- $title_letter -}}
        {{- end -}}

    {{- end -}}

{{- else -}}
{{- $title_letter -}}
{{- end -}}
</p>
</div>
