<!-- fetches 'theme' from localStorage and sets .light on root-->

<!-- NOTE: inline script to block rendering of body -->
<!-- NOTE: must not include the <script> tags : CSP header SHA hash wants the content only. -->
{{- return `(function() {
      var theme = localStorage.getItem('theme');
      var root = document.documentElement;
      if (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          root.classList.remove('light');
      } else if (theme === 'light') {
          root.classList.add('light');
      } else {
          root.classList.remove('light');
      }
})();`
-}}
