{{ define "main" }}
        <div id="spotlight" class="error-404 animated fadeIn">
                <p class="img-404">
                  {{ partial "svg.html" (dict "type" "lighthouse") }}
                </p>
                <div class="banner-404">
                        <h1>404</h1>
                        <p>Lost at sea.</p>
                        <p class="btn-404">
                                <a href="{{.Site.BaseURL}}">home</a>
                        </p>
                </div>
        </div>
{{ end }}
