<form
  class="consult-form"
  name="consult-form"
  method="POST"
  action="/study/confirm"
  data-netlify-recaptcha="true"
  data-netlify="true"
  netlify-honeypot="bot-field"
>
  <div hidden aria-hidden="true">
    <label>
      Don't fill this out if you're human:
      <input name="bot-field" />
    </label>
  </div>
<div>
  <input type="email" name="email" placeholder="you@foo.com"  id="email" required autocomplete="email"/>
</div>
  <button type="submit">Contact me</button>
  <div id="recaptcha" data-netlify-recaptcha="true"></div>
</form>
