
<form
  class="subscription-form"
  name="subscription-form"
  method="POST"
  action="/subscribe/confirm/"
  data-netlify="true"
  netlify-honeypot="bot-field"
>
  <div hidden aria-hidden="true">
    <label>
      Don't fill this out if you're human:
      <input name="bot-field" />
    </label>
  </div>

  <div id="subscription-message">
  <textarea name="message" placeholder="optional message" rows=5 cols=10></textarea>
  </div>

  <div>
  <!-- <label for="email">email:</label> -->
  <input type="email" name="email" placeholder="you@foo.com"  id="email" required />
  </div >

  <div>
  <button type="submit">subscribe</button>
  </div>

</form>
